// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @param {String}
/* Multiple Modifier */
@mixin modifier($modifier) {
  $len: str-length(#{&}); /* Get parent string length */
  $parent: str-slice(#{&}, 2, $len); /* Remove leading . */

  @at-root [class^="#{$parent}"][class*="--#{$modifier}"] {
    @extend .#{$parent};
    @content;
  }
}

// take it from: https://gist.github.com/fabricelejeune/bcdd3d4725d4e4cea672
@mixin font($group, $variant: regular, $properties: family weight style, $font-stack: $base-font-stack) {
  $font-properties: map-deep-get($font-stack, $group, $variant);
  
  @if $font-properties {
    @each $property, $values in $font-properties {
      @if contains($properties, $property) {
        font-#{$property}: map-get($font-properties, $property);
      }
    }
  }
}

