// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// Cards colors
/// @type Map
$colors: (
  "fire": #fb6c6c,
  "electricity": #fbe46c,
  "bug": #7ccd55,
  "dark": #595978,
  "dragon": #62cad9,
  "fairy": #f55d8a,
  "fighting": #f3704a,
  "flying": #94b2c7,
  "ghost": #906791,
  "grass": #27cb50,
  "ground": #a8702d,
  "ice": #75e9f0,
  "normal": #cca5b0,
  "poisson": #9b69da,
  "phychic": #fb2f9c,
  "rock": #8b3e22,
  "steel": #43bd94,
  "water": #6c94fb
  );

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;





