// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif !default;

// Colors
// idea and _almost_ how to use it: https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
// ¿why that's colors names? Microsoft fluent guidelines: https://developer.microsoft.com/en-us/fluentui#/styles/web/colors/theme-slots
$theme: "light";

$red: rgb(37, 179, 179);

$themesColors: (
  light: (
    foreground: (
      darker: hsl(0, 0%, 0%),
      dark: hsl(245, 4%, 5%),
      neutralPrimary: hsl(30, 2%, 19%),
      neutralSecundary: hsl(264, 5%, 37%),
      neutralTertiary: hsl(30, 2%, 62%),
      neutralTertiaryAlt: hsl(30, 4%, 78%),
    ),
    background: (
      lighter: hsl(245, 0%, 100%),
      light: hsl(245, 4%, 97%),
      neutralPrimary: hsl(268, 52%, 95%),
      neutralSecondary: hsl(30, 10%, 92%),
      neutralTertiary: hsl(30, 8%, 95%),
      neutralTertiaryAlt: hsl(268, 52%, 95%),
    ),
    status: (
      error: hsl(10, 95%, 63%),
      sucess: hsl(119, 60%, 63%),
      empty: hsl(30, 2%, 64%),
      warning: hsl(30, 2%, 64%),
      severeWarning: hsl(20, 100%, 64%),
    ),
    primary: (
      themePrimary: hsl(265, 45%, 36%),
      themeDarkAlt: hsl(265, 47%, 33%),
      themeDark: hsl(265, 48%, 25%),
      themeDarker: hsl(265, 80%, 14%),
      themeLighterAlt: hsl(268, 52%, 95%),
      themeLighter: hsl(263, 47%, 85%),
      themeLight: hsl(263, 45%, 72%),
      themeTetiary: hsl(263, 42%, 49%),
      themeSecondary: hsl(276, 76%, 31%),
    ),
    accent-orange: (
      orange: hsl(18, 95%, 64%),
      orangeDarkAlt: hsl(18, 90%, 50%),
      orangeDark: hsl(18, 88%, 32%),
      orangeDarker: hsl(18, 80%, 14%),
      orangeLighterAlt: hsl(18, 98%, 91%),
      orangeLighter: hsl(18, 97%, 88%),
      orangeLight: hsl(18, 95%, 85%),
    ),
    accent-cian: (
      cian: hsl(18, 95%, 64%),
      cianDarkAlt: hsl(18, 90%, 50%),
      cianDark: hsl(18, 88%, 32%),
      cianDarker: hsl(18, 80%, 14%),
      cianLighterAlt: hsl(18, 98%, 91%),
      cianLight: hsl(18, 95%, 85%),
      CianLighter: hsl(18, 97%, 88%),
    ),
  ),
  dark: (
    foreground: (
      darker: hsl(100, 100%, 100%),
      dark: hsl(245, 4%, 95%),
      neutralPrimary: hsl(30, 2%, 81%),
      neutralSecundary: hsl(264, 5%, 63%),
      neutralTertiary: hsl(30, 2%, 38%),
      neutralTertiaryAlt: hsl(30, 4%, 22%),
    ),
    background: (
      lighter: hsl(245, 0%, 0%),
      light: hsl(245, 4%, 3%),
      neutralPrimary: hsl(268, 55%, 9%),
      neutralSecondary: hsl(269, 47%, 15%),
      neutralTertiary: hsl(271, 44%, 26%),
      neutralTertiaryAlt: hsl(268, 74%, 17%),
    ),
    status: (
      error: hsl(10, 95%, 63%),
      sucess: hsl(119, 60%, 63%),
      empty: hsl(30, 2%, 64%),
      warning: hsl(30, 2%, 64%),
      severeWarning: hsl(20, 100%, 64%),
    ),
    primary: (
      themePrimary: hsl(265, 45%, 36%),
      themeDarkAlt: hsl(265, 47%, 33%),
      themeDark: hsl(265, 48%, 25%),
      themeDarker: hsl(265, 80%, 14%),
      themeLighterAlt: hsl(268, 52%, 95%),
      themeLighter: hsl(263, 47%, 85%),
      themeLight: hsl(263, 45%, 72%),
      themeTetiary: hsl(263, 42%, 49%),
      themeSecondary: hsl(276, 76%, 31%),
    ),
    accent-orange: (
      orange: hsl(18, 95%, 64%),
      orangeDarkAlt: hsl(18, 90%, 50%),
      orangeDark: hsl(18, 88%, 32%),
      orangeDarker: hsl(18, 80%, 14%),
      orangeLighterAlt: hsl(18, 98%, 91%),
      orangeLighter: hsl(18, 97%, 88%),
      orangeLight: hsl(18, 95%, 85%),
    ),
    accent-cian: (
      cian: hsl(18, 95%, 64%),
      cianDarkAlt: hsl(18, 90%, 50%),
      cianDark: hsl(18, 88%, 32%),
      cianDarker: hsl(18, 80%, 14%),
      cianLighterAlt: hsl(18, 98%, 91%),
      cianLight: hsl(18, 95%, 85%),
      CianLighter: hsl(18, 97%, 88%),
    ),
  ),
);

// Fonts
// idea and how to use it: https://gist.github.com/fabricelejeune/bcdd3d4725d4e4cea672
$base-font-stack: (
  // Sans-serif
  helvetica: (
    light: (
      family: (Helvetica Neue, Helvetica, Arial, sans-serif),
      weight: 200,
      style: normal
    ),
    light-italic: (
      family: (Helvetica Neue, Helvetica, Arial, sans-serif),
      weight: 200,
      style: italic
    ),
    regular: (
      family: (Helvetica Neue, Helvetica, Arial, sans-serif),
      weight: 400,
      style: normal
    ),
    regular-italic: (
      family: (Helvetica Neue, Helvetica, Arial, sans-serif),
      weight: 400,
      style: italic
    ),
    bold: (
      family: (Helvetica Neue, Helvetica, Arial, sans-serif),
      weight: 700,
      style: normal
    ),
    bold-italic: (
      family: (Helvetica Neue, Helvetica, Arial, sans-serif),
      weight: 700,
      style: italic
    ),
  ),

  // Serif
  georgia: (
    regular: (
      family: (Georgia, Times, Times New Roman, serif),
      weight: 400,
      style: normal
    ),
    regular-italic: (
      family: (Georgia, Times, Times New Roman, serif),
      weight: 400,
      style: italic
    ),
  )
);

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;
